h2 {
    margin-bottom: var(--spacing-md);
    text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

#add-product-image {
    display: none;
}

label[for="add-product-image"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xl);
    border: 0.125rem dashed var(--color-text-secondary);
    border-radius: 0.75rem;
    background-color: var(--color-cards-bg);
    color: var(--color-text-secondary);
    cursor: pointer;
}

label[for="add-product-image"] span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xs);
}

fieldset {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--spacing-xs);
  border: none;
  padding: 0;
}

fieldset input {
  display: none;
}

fieldset label {
  font-size: 1.5rem;
  color: var(--color-border);
  cursor: pointer;
}

fieldset input:checked ~ label i {
  font-weight: 900;
}

fieldset input:checked ~ label {
  color: var(--color-accent);
}

@media (min-width: 48rem) {
    .add-product-page {
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
    }
}