main {
    padding: var(--spacing-lg);
    padding-bottom: 6rem;
}

input,
select {
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 0.0625rem solid var(--color-text-secondary);
    border-radius: 0.5rem;
    background-color: var(--color-cards-bg);
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--color-accent);
}

textarea {
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 0.0625rem solid var(--color-text-secondary);
    border-radius: 0.5rem;
    background-color: var(--color-cards-bg);
    min-height: 8rem;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: var(--color-accent);
}

button[type="submit"] {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 0.5rem;
    background-color: var(--color-accent);
    color: var(--color-cards-bg);
    font-weight: 600;
}

/* -- HEADER -- */
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
}

header button {
    justify-self: flex-start;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 0.0625rem solid var(--color-accent);
    border-radius: 999px;
    color: var(--color-accent);
    font-weight: 600;
}

header h1 {
    text-align: center;
}

header a {
    justify-self: flex-end;
}

header a img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

/* -- MENU -- */
.menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: var(--spacing-md) 0;
    border-top: 0.0625rem solid var(--color-border);
    background-color: var(--color-cards-bg);
}

.menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current {
    color: var(--color-accent);
}

.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

.nav-add {
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-accent);
}

.nav-add i {
    color: var(--color-cards-bg);
    font-size: 1.25rem;
}

.nav-add span {
    display: none;
}

/* -- CARDS -- */
.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--color-cards-bg);
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
    aspect-ratio: 16 / 9; /* quadrado */
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-md);
}

.card-image .favorite-btn {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
}

.category-tag,
.status-tag {
    align-self: flex-start;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: 999px;
    background-color: var(--color-accent-light);
}

.product-card h3 {
    font-size: 1.3rem;
}

.product-brand {
    color: var(--color-text-secondary);
    font-size: 1rem;
}

.rating .fa-solid {
    color: var(--color-accent);
}

.rating .fa-regular {
    color: var(--color-border);
}

.status-tag.wishlist {
  background-color: var(--color-neutral-light);
  color: var(--color-text-secondary);
}

.status-tag.acabou {
  background-color: var(--color-alert);
  color: var(--color-cards-bg);
}

.post-author {
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.post-author a {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.post-author a img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}


@media (min-width: 48rem) {
    .menu {
        position: static;
        border-bottom: 0.0625rem solid var(--color-border);
    }

    .menu ul {
        justify-content: center;
        gap: 2rem;
    }

    .menu i {
        display: none;
    }

    .nav-add {
        width: auto;
        height: auto;
        background-color: transparent;
        border-radius: 0;
    }

    .nav-add span {
        display: inline;
    }

    .menu a.nav-profile {
        display: none;
    }
}

@media (hover: hover) {
    .menu a:hover {
        color: var(--color-accent);
    }

}