.explore-page h2 {
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.explore-page input {
  width: 100%;
}

.people-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

@media (min-width: 48rem) {
  .explore-page {
    width: 100%;
    max-width: 32rem;
    margin: 0 auto;
  }
}

@media (hover: hover) {
  .follow-btn:hover {
    background-color: var(--color-accent-light);
  }

  
}