.feed-post-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (min-width: 48rem) {
    .feed-post-list {
        max-width: 32rem;
        margin: 0 auto;
    }
}