.feed-post-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (min-width: 48rem) {
    .feed-page {
        display: flex;
        align-items: flex-start;
    }
    
    .feed-post-list {
        max-width: 38rem;
        margin: 0 auto;
        flex: 1;
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        width: 18rem;
    }

    aside h3 {
        text-align: center;
    }
}